@layer theme, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../../templates";

@theme {
    --color-brand: #004040;
}

body {
    background: var(--color-brand);
    color: #fff;
}

a:link { color: #efe; transition:0.1s; }
a:visited { color: #ddd; }
a:active { color: #f00; }
a:hover { color: #10e0e0; }
a.help { text-decoration-line: underline; }

.m blockquote { margin: 0 0 0 27px; }
.m pre {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.3;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.ms { font-size: 17px; font-weight: bold; }
.mu, .mun, .md { font-size: 14px; }
.mun { font-weight: normal; }
.nw { white-space: nowrap; }

@media (max-width: 640px) {
    .m blockquote { margin-left: 10px; }
    .nw { white-space: normal; }
}
